<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
</head>

<body>
    <header id="header">
        
    </header>
    <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
    </ul>
    <form action="/login" method="post">
        <input type="text" placeholder="아이디를 입력해주세요" name="userId">
        <input type="password" placeholder="비밀번호를 입력해주세요" name="password">
        <button type="submit">로그인</button>
    </form>
</body>
</html>