<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <h1>게시판 리스트</h1>
    <ul>
        <!-- 참조 타입들을 순회할 때 시작점과 끝 => -->
        <hr/>
        {% for item in boards %}
            <div class="grpRow">
                <label>Board ID: </label><li>{{ item.id }}</li>
            </div>
            
            <div class="grpRow">
                <label>User ID: </label><li>{{ item.user_id }}</li>
            </div>
            
            <div class="grpRow">
                <!-- GET /boards/view/guddnr2000 -->
                <label>Title: </label><li><a href="/boards/view/{{ item.id }}">{{ item.title }}</a></li>
            </div>
            <div class="grpRow">
                <label>Writer: </label><li>{{ item.writer }}</li>
            </div>
            <div class="grpRow">
                <label>Hit: </label><li>{{ item.hit }}</li>
            </div>
            <hr/>
            
        {% endfor %}
        <!-- 참조 타입들을 순회할때 끝마침 => -->
    </ul>
    <a href="/">메인으로 이동</a> 
    <a href="/boards/write">글 쓰기 페이지</a> 
</body>
</html>