<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 등록 페이지</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/write.css">
</head>
<body>
    <form id="formWrite" action="/boards/write" method="post">

        <div class="grpRow">
            <label for="id">User ID</label><input type="text" name="user_id">
        </div>
        <div class="grpRow">
            <label for="id">Title</label><input type="text" name="title">
        </div>
        <div class="grpRow">
            <label for="id">Content</label><input type="text" name="content">
        </div>
        <div class="grpRow">
            <button id="btnSubmit" type="button">글작성</button>
        </div>

        <script>
            const fnSave = async(e) =>{
                e.preventDefault();
                if(confirm("게시물을 등록 하시겠습니까?")){
                    try {
                        const formData = new FormData(document.querySelector("#formWrite"));
                        const data = Object.fromEntries(formData.entries());
                    
                        const response = await fetch(`/boards/write`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(data),
                        });
                        
                        if(!response.ok) throw new Error("저장 실패");
                        
                        alert("저장되었습니다.",data.message);
                        window.location.href="/boards";
                    } catch (error) {
                        alert("에러 발생", error.message);
                    }
                }else{
                    alert("취소되었습니다.");
                }
            }
            const saveBtn = document.querySelector("#btnSubmit");
            saveBtn.addEventListener("click",fnSave);

        </script>
        
        
    </form>
</body>
</html>